.items-table {
    width: 100%;
    border-collapse: collapse;
}

.left-align {
    text-align: left;
}

.item-table-row:nth-child(even) {
    background-color: #f2f2f2;
}

.edit-button {
    margin-right: 10px; /* Add space to the right of the Edit button */
}
