#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }


  .App {
    text-align: center;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }


  .navbar-custom {
    background-color: #004d00;  /* This is a dark green color */
    color: white;
    font-family: Arial, sans-serif;
  }

  .btn-custom {
    background-color: #004d00;
    color: #ffffff;
  }

  .nav-link-custom {
    color: white;
  }


  .navbar-toggler-custom {
    border-color: white;
  }

  .navbar-toggler-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }


  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


/* Media Queries for larger screens */
@media (min-width: 768px) {
  .drink-card {
      width: calc(50% - 20px);   /* Take half width on tablet screens minus gap */
  }
}

@media (min-width: 1024px) {
  .drink-card {
      width: calc(33.33% - 20px);  /* Take one-third width on desktop screens minus gap */
  }
}


.card, .drink-card, .glass-card {
  width: 100%;     /* Take full width on mobile screens */
  max-width: 400px;
  border: 1px solid #ccc; /* Adding a border */
  border-radius: 10px; /* Rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
  margin: 20px auto; /* Margin to space out the cards and center them */
  padding: 20px; /* Inner spacing */
}

/* Table styling to center it */
.drink-card table {
  margin: 20px auto; /* Centering the table */
  width: auto; /* Taking the natural width of the table */
}

/* Add space between the columns */
.drink-card th, .drink-card td {
  padding: 5px 15px; /* 5px vertical padding, 15px horizontal padding */
}

.cards-container {
display: flex;             /* Enable flexbox */
flex-wrap: wrap;           /* Allow cards to wrap onto the next row */
justify-content: center;   /* Center cards horizontally */
gap: 20px;                 /* Spacing between cards */
}

.drink-card-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}


.glass-container {
  display: flex;             /* Enable flexbox */
  flex-wrap: wrap;          /*  Allow cards to wrap onto the next row */
  justify-content: center;   /* Center cards horizontally */
  gap: 20px;                 /* Spacing between cards */
  }


  .card-img-top{
    width: 300px;
    height: 300px;
    object-fit: contain;
  }


.glass-card {
    width: 300px;
    height: 600px;
    border: 1px solid #ccc; /* Adding a border */
    border-radius: 10px; /* Rounded edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
    margin: 20px auto; /* Margin to space out the cards and center them */
    padding: 20px; /* Inner spacing */
  }


.drink-card {
  width: 400px;
  min-height: 400px;
  margin-bottom: 20px;
  overflow: auto;
  }
